.equipo {
  width: 100%;
  padding: 32px;
  box-sizing: border-box; /*se sumen y tenga el máximo del 100%*/
  text-align: center;
  font-size: 32px;
}

.equipo h3 {
  color: #212121;
  font-weight: 400;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}
