html {
    background: #F3F5FC;
}

/*.logo-layout {
    margin: 40px;
    width: 120px;
    height: 48px;
    font-size: 48px;
    font-family: 'Baloo Thambi 2', cursive;
    -webkit-text-stroke: .6px black;
    color: #0A3871;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/

.logo-layout {
    margin: 40px;

}

.img-logo {
    width: 120px;
    height: 48px;
}

.cuerpo {
    height: 300px;
}

.input-texto {
    font-family: sans-serif;
    margin-left: 15%;
    padding: 10px;
    width: 55%;
    height: 280px;
    border: none;
    font-size: 30px;
    color: #0A3871;
    background: #F3F5FC;
    resize: none
}

.input-texto::placeholder {
    color: rgb(10, 56, 113);
}

.input-texto:focus {
    outline: none;
}

.texto-derecho {
    font-family: sans-serif;
    position: absolute;
    margin-top: 20px;
    display: block;
    width: 22%;
    height: 84.35%;
    left: 76%;
    top: 0;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    text-align: center;
    font-Size: 30px;
    padding-Top: 5%;
    color: #495057;
}

.layout-muneco {
    margin: 160px 32px 0px 32px;
}

.muneco {
    width: 100%;
    height: 100%;
}

.p-principal {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #343A40;
    line-height: 120%;
}

.p-secundario {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    color: #343A40;
    line-height: 150%;
}

.p-botones {
    font-family: 'Inter', sans-serif;
    color: #495057;
    opacity: 0.6;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.botones {
    margin-top: 11%;
    margin-left: 20%;
}

.icon-alert {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.button-encriptar {
    width: 28%;
    margin-right: 10px;
    font-size: 18px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background: #0A3871;
    color: white;
}

.button-encriptar:hover {
    background: rgb(75, 0, 128);
    transition: 0.3s;
    transform: scale(1.10);
}

.button-desencriptar {
    width: 28%;
    margin-left: 10px;
    font-size: 18px;
    height: 60px;
    border-color: #0A3871;
    border-radius: 20px;
    border-style: solid;
    background: #D8DFE8;
    color: #0A3871;
}

.button-desencriptar:hover {
    color: white;
    background: rgb(75, 0, 128);
    transition: 0.3s;
    transform: scale(1.10);
}

#idCopiar {
    display: none;
    /* Por defecto, el botón está oculto */
}

.button-copiar {
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
    height: 60px;
    border-color: #0A3871;
    border-radius: 20px;
    border-style: solid;
    background: #D8DFE8;
    color: #0A3871;
}

.button-copiar:hover {
    color: white;
    background: rgb(75, 0, 128);
    transition: 0.3s;
    transform: scale(1.10);
}