html {
    background: #F3F5FC;
}

/*.logo-layout {
    margin: 40px;
    width: 120px;
    height: 48px;
    font-size: 48px;
    font-family: 'Baloo Thambi 2', cursive;
    -webkit-text-stroke: .6px black;
    color: #0A3871;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/

.logo-layout {
    margin: 40px;

}

img {
    width: 120px;
    height: 48px;
}

.input-texto {
    margin-left: 15%;
    margin-top: 4%;
    border: none;
    font-size: 30px;
    color: rgb(10, 56, 113);
    background: #F3F5FC;
}

.input-texto::placeholder {
    color: rgb(10, 56, 113);
}

.input-texto:focus {
    outline: none;
}