.input-container--invalid .input {
  border: 1px solid red;
  border-radius: 7px;
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: red;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

#error__drag{
  margin-top: 25px;
  padding-left: 0;
}
