* {
  font-family: sans-serif;
}

.header__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__box--izquierda {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.title__header {
  color: #464646;
  font-size: 25px;
  font-weight: bold;
  margin-right: 32px;
}

.title__header::before {
  content: attr(data-first-letters);
  color: #2a7ae4;
}

.input__search {
  display: flex;
  width: 350px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: #f5f5f5;
}

.input__search:focus {
  outline: 1px solid #a2a2a2;
}

.input__search::placeholder {
  color: #a2a2a2;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: 16px;
}

.input__button--login {
  width: 150px;
  height: 48px;
  border: 1px solid #2a7ae4;
  background: transparent;
}
