main {
  padding: 20px 50px;
}
.main__content {
  width: 100%;
  padding-top: 64px;
}

.main__container__principal {
  display: flex;
  justify-content: space-between;
}

.container__vertodo a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2a7ae4;
  font-weight: 700;
}

.main__container--productos {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.main__container--productos ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.main__container--productos ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 200px;
}

.image--producto {
  width: 176px;
  height: 174px;
}

.main__container--productos ul li h3 {
  color: #464646;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__container--productos ul li h4 {
  color: #464646;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__container--productos ul li a {
  color: #2a7ae4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 535px) {
  main {
    padding: 20px 16px;
  }
  .main__content {
    padding-top: 32px;
  }
  .main__container__principal h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container__vertodo a {
    font-size: 16px;
  }

  .image--producto {
    width: 156px;
    height: 174px;
  }
  .main__container--productos ul li {
    width: 165px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 395px) {
  /*.main__container--productos ul {
    justify-content: center;
  }*/
  .main__container--productos ul li {
    width: 145px;
  }
}

@media screen and (max-width: 356px) {
  .main__container--productos ul {
    justify-content: center;
  }
}
