p{
    text-align: center;
}

.principal{
    padding: 20px;
    background: #CCCCCC;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}

.items{
    font-style: italic;
}


.diferenciales{
    background: white;
    padding: 30px;
}
.imgdiferenciales{
    width: 50%;
}
ul{/*block viene definidas en listas por default y con display inline-block viene por defecto en las imagenes */
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.titulo-centralizado{
    text-align: center;
}
.titulo-principal{
    padding-left: 30px;
}