.orgSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #6278f7;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 24px;
  border-bottom: 4px solid #6278f7;
  text-align: center;
  font-family: "Prata", serif;
  font-style: normal;
  line-height: 72px; /* 180% */
}

.orgSection img {
    position: absolute;
    right: 30%;
    cursor: pointer;
}
