* {
  font-family: "Handjet", cursive;
}

.navegador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.img__estrellas {
  color: white;
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

.navegador .parrafo__nombre {
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
  /*background: linear-gradient(to right, #f3965b, #f3545b);*/

  background: linear-gradient(to right, #895bf3, #1f2937);
}

.contenido__izquierdo {
  display: flex;
  align-items: center;
}

.navegador .parrafo__correo {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.navegador .parrafo__correo:hover {
  text-decoration: underline;
}

.section__principal {
  margin-top: 70px;
}

.contenido__principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section__principal .h1__central {
  color: white;
  font-family: "Handjet", cursive;
  font-size: 90px;
}

.section__principal .contenido__principal .img__perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*SOBRE MI*/

.contenedor__sobremi {
  /*background: #7bf1bf;*/
  text-align: start;
  margin-left: 20px;
  color: white;
}

.contenedor__sobremi .parrafo__sobremi {
  font-size: 30px;
}

.contenedor__sobremi .parrafo__sobremi--texto {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  width: 70%;
  text-align: justify;
}

.contenedor__sobremi .title__network {
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  list-style: none;
}

.contenedor__sobremi .title__network .title__network__item a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 50px;
  display: flex; /* Utilizamos flexbox para centrar elementos en la misma línea */
  align-items: center;

  transition: transform 0.3s ease-in-out;
}

.contenedor__sobremi .title__network .title__network__item a:hover {
  text-shadow: 1px 1px 2px #1f2937;
  transform: translateY(-6px);
}

/*SKILLS*/

.contenedor__parrafo__skills {
  border-top: 5px solid black;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #240963, #1f2937);
}

.parrafo__secundario {
  text-align: center;
  color: white;
  font-size: 40px;
}

.contenido__secundario {
  font-size: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.contenido__secundario .hobbies__box li {
  list-style: none;
}

.contenido__secundario svg {
  width: 60px;
  height: 60px;
}

.hobbies__name {
  margin: 0px 0 30px 0;
}

.contenedor__skills svg {
  width: 80px;
  height: 80px;
}

/*HOBBIES*/

.hobbies__line {
  height: auto;
  display: flex;
  flex-direction: column;
}

/*FORMACION ACADEMICA*/

.academic {
  /*background: #F5F5F5;*/
  border-bottom: 5px solid black;
}

.academic__title {
  text-align: center;
  font-size: 40px;
}

.academic__courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.academic__courses__box {
  align-self: center;
  border: 3px solid white;
  border-radius: 8px;
  background: white;
}

.academic__courses__list {
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.academic__courses__item__img img {
  width: 500px;
  height: 250px;
}

/*EXPERIENCIA*/

.experience__section__title {
  font-size: 30px;
  text-align: center;
}

.experiencie__box{
  display: flex;
  justify-content: space-around;
}

.experience__img{
  width: 500px;
  height: auto;
}

.experience__info{
  align-self: center;
}

@media screen and (max-width: 1230px) {
  .section__principal .h1__central {
    font-size: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .section__principal .h1__central {
    font-size: 65px;
  }
  .contenedor__skills {
    flex-basis: calc(
      50% - 20px
    ); /* Reducir a 2 columnas en pantallas más pequeñas */
  }
}

@media screen and (max-width: 768px) {
  .contenido__principal {
    display: flex;
    flex-direction: column;
  }
  .section__principal .h1__central {
    font-size: 35px;
  }
  .contenedor__sobremi .parrafo__sobremi--texto {
    width: 97%;
  }
  .contenedor__skills {
    flex-basis: calc(
      50% - 20px
    ); /* Reducir a 2 columnas en pantallas más pequeñas */
  }
  .contenedor__skills svg {
    width: 55px;
    height: 55px;
  }
}
